.header {
    border-bottom: 1px solid var(--grayF1);
    height: 80px;
    background: var(--headerBGColor);
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

.logo {
    width: 48px;
    height: 48px;
}

.menu {
    margin-left: 24px;
    border-bottom: none;
    height: 100%;
    font-size: 18px;
}

.menu li {
    line-height: 78px;
}

.logout {
    font-size: 18px;
    margin-left: auto;
    padding: 0 20px;
}