.card {
    width: 245px;
    min-height: 226px;
    background-color: var(--backgroundColor);
}

.body {
    height: 100%;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
}

.title {
    font-weight: bold;
    margin-bottom: 8px;
}

.channelName,
.views {
    color: var(--text-muted);
}