.ant-form label {
    font-size: 16px;
}

.label-muted label {
    color: var(--text-muted);
}

.ant-form-item {
    margin-bottom: 10px;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector,
.ant-input-number {
    border-radius: 5px;
    padding: 7px 11px;
    font-size: 20px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: inherit;
    padding: 7px 11px;
    height: auto;
}

.ant-input:focus,
.ant-input-affix-wrapper-focused {
    background-color: var(--primaryBackground);
}

.ant-input-affix-wrapper-focused .ant-input {
    background-color: transparent;
}

.ant-input-affix-wrapper-focused .anticon svg {
    fill: var(--primary);
}

.ant-input-group-addon .ant-btn,
.ant-btn {
    box-sizing: content-box;
    font-size: 20px;
    height: 52px;
    border-radius: 5px;
    padding: 0 60px;
}

.ant-input-group-addon .ant-btn {
    height: 44px;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    border-radius: 0 5px 5px 0;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-radius: 5px 0 0 5px;
}

.ant-layout {
    background-color: var(--backgroundColor);
}

.ant-card-body {
    padding: 0;
}

.ant-modal-content {
    border-radius: 10px;
}

.ant-popover-inner {
    border-radius: 5px;
}