:root {
    --text-muted: rgba(23, 23, 25, 0.3);
    --backgroundColor: #E5E5E5;
    --white: #fff;
    --headerBGColor: #fff;

    --grayF1: F1F1F1;

    --boxBorderColor: rgba(39, 39, 39, 0.2);
    --primaryBackground: rgba(197, 228, 249, 0.3);
    --primary: #1390E5;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

