.card {
    display: flex;
    width: 690px;
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
}

.preview {
    height: 88px;
}

.title {
    font-weight: bold;
}

.channelName,
.views {
    color: var(--text-muted);
}